services:
  - type: web
    name: person-search-backend
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --timeout 120 --workers 2 --threads 4 --worker-class gthread app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 10000
      - key: APIFY_API_KEY
        sync: false
      - key: SERPAPI_KEY
        sync: false
      - key: SUPERWALL_API_KEY
        sync: false
      - key: GOOGLE_API_KEY
        sync: false
      - key: GOOGLE_CX
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        sync: false
